@import url(vendor/bootstrap.min.css);
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-Medium.eot");
  src: local("DIN Pro Medium"), local("DINPro-Medium"), url("../fonts/dinpro/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-Medium.woff") format("woff"), url("../fonts/dinpro/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-BlackItalic.eot");
  src: local("DIN Pro Black Italic"), local("DINPro-BlackItalic"), url("../fonts/dinpro/DINPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-BlackItalic.woff") format("woff"), url("../fonts/dinpro/DINPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-MediumItalic.eot");
  src: local("DIN Pro Medium Italic"), local("DINPro-MediumItalic"), url("../fonts/dinpro/DINPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-MediumItalic.woff") format("woff"), url("../fonts/dinpro/DINPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-Bold.eot");
  src: local("DIN Pro Bold"), local("DINPro-Bold"), url("../fonts/dinpro/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-Bold.woff") format("woff"), url("../fonts/dinpro/DINPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-Light.eot");
  src: local("DIN Pro Light"), local("DINPro-Light"), url("../fonts/dinpro/DINPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-Light.woff") format("woff"), url("../fonts/dinpro/DINPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-Italic.eot");
  src: local("DIN Pro Italic"), local("DINPro-Italic"), url("../fonts/dinpro/DINPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-Italic.woff") format("woff"), url("../fonts/dinpro/DINPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro.eot");
  src: local("DIN Pro"), local("DINPro"), url("../fonts/dinpro/DINPro.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro.woff") format("woff"), url("../fonts/dinpro/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-Black.eot");
  src: local("DIN Pro Black"), local("DINPro-Black"), url("../fonts/dinpro/DINPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-Black.woff") format("woff"), url("../fonts/dinpro/DINPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-LightItalic.eot");
  src: local("DIN Pro Light Italic"), local("DINPro-LightItalic"), url("../fonts/dinpro/DINPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-LightItalic.woff") format("woff"), url("../fonts/dinpro/DINPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'DIN Pro';
  src: url("../fonts/dinpro/DINPro-BoldItalic.eot");
  src: local("DIN Pro Bold Italic"), local("DINPro-BoldItalic"), url("../fonts/dinpro/DINPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/DINPro-BoldItalic.woff") format("woff"), url("../fonts/dinpro/DINPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@media only screen and (max-width: 1023px) {
  .m-hide {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .m-vhide {
    visibility: hidden; } }

body {
  font-family: 'DIN Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: #1d232f;
  color: #ffffff;
  position: relative; }

.bg-lines {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: url("../img/lines.png") repeat-y 50%; }
  @media only screen and (max-width: 1023px) {
    .bg-lines {
      display: none; } }

@media only screen and (min-width: 1024px) {
  .container {
    width: 990px; } }

a, a:hover, a:active, a:visited, a:focus {
  color: #0099f9;
  text-decoration: none; }

.pb-0 {
  padding-bottom: 0; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 4px;
  border-top: 0;
  border-bottom: 1px solid #0099f9; }

.button {
  transition: all 0.3s ease;
  background: #0099f9;
  border: 1px solid #0099f9;
  padding: 15px 15px;
  white-space: nowrap;
  display: inline-block; }
  .button, .button:visited, .button:active, .button:focus, .button:hover {
    color: #ffffff;
    text-decoration: none; }
  .button:hover {
    background: none; }
  .button img {
    margin-left: 6px;
    margin-top: -2px;
    filter: grayscale(1) brightness(10); }
  .button.no-active {
    background: none;
    color: #0099f9; }
    .button.no-active img {
      filter: none; }
    .button.no-active:hover {
      background: #0099f9;
      color: #ffffff; }
      .button.no-active:hover img {
        filter: grayscale(1) brightness(2); }

.modal .close {
  opacity: 1;
  margin-top: 3px; }
.modal-dialog {
  width: 440px; }
  @media only screen and (max-width: 1023px) {
    .modal-dialog {
      width: 100%;
      padding: 0;
      margin: 0; } }
.modal-content {
  border-radius: 0; }
.modal-header {
  border-bottom: 0; }
  .modal-header img.logo {
    width: 100px;
    margin-left: 15px; }
  .modal-header h4 {
    color: #0099f9;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; }
.modal-body {
  padding: 0 30px 20px 30px;
  color: #1d232f; }
  .modal-body h4 {
    color: #0099f9;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase; }
  .modal-body ul {
    list-style: none; }
    .modal-body ul li {
      position: relative; }
      .modal-body ul li:before {
        content: "";
        width: 24px;
        height: 1px;
        background: #0099f9;
        position: absolute;
        left: -40px;
        top: 9px; }
  .modal-body .text {
    max-height: 200px;
    overflow-y: scroll; }
.modal form .form-group {
  margin-bottom: 20px; }
.modal form label {
  font-weight: 300; }
.modal form input {
  border-radius: 0;
  box-shadow: none; }
.modal form button {
  font-size: 16px; }
  .modal form button:hover {
    color: #0099f9; }

.success-modal .modal-dialog {
  width: 570px; }
  @media only screen and (max-width: 1023px) {
    .success-modal .modal-dialog {
      width: 100%; } }
.success-modal .close {
  margin-top: -5px;
  margin-right: 10px; }
.success-modal .modal-body {
  background: url("../img/modal_success.png") no-repeat;
  min-height: 286px;
  padding: 15px 0; }
  @media only screen and (max-width: 1023px) {
    .success-modal .modal-body {
      padding: 20px;
      background: none;
      min-height: auto; } }
  .success-modal .modal-body .message {
    width: 250px;
    margin-top: 80px;
    margin-left: 280px; }
    @media only screen and (max-width: 1023px) {
      .success-modal .modal-body .message {
        width: auto;
        margin: 0; } }
    .success-modal .modal-body .message h3 {
      font-size: 18px;
      color: #0099f9;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 30px; }
    .success-modal .modal-body .message p {
      font-size: 12px;
      color: #333333; }

.video {
  position: absolute;
  z-index: -2;
  width: 95%;
  margin-left: 15.7%;
  min-height: 770px;
  overflow: hidden; }
  .video.show {
    min-height: 445px; }
  @media only screen and (max-width: 1023px) {
    .video {
      width: 100%;
      margin: 0 -15px;
      min-height: 600px; }
      .video.show {
        min-height: 235px; } }
  .video video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .video .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; }

.mobile-header {
  padding: 20px;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .mobile-header {
      display: none; } }
  .mobile-header .burger {
    float: left; }
    .mobile-header .burger img {
      width: 25px; }
  .mobile-header .logo {
    width: 160px;
    margin: 0 30px; }
  .mobile-header .phone {
    float: right; }

.navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition-delay: 300ms;
  left: 0; }
  .navigation.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; }
    .navigation.active .navigation__inner {
      overflow-y: scroll;
      background-color: #1d232f;
      transform: translate(0, 0);
      transition: transform 300ms linear, background-color 0s linear 599ms; }
      .navigation.active .navigation__inner:after {
        width: 300%;
        border-radius: 50%;
        animation: elastic 150ms ease 300.5ms both; }

.navigation__inner {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  transform: translate(-100%, 0);
  transition: transform 300ms linear, background-color 0s linear 300ms; }
  .navigation__inner:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #1d232f;
    border-radius: 50%;
    z-index: -1;
    transition: all 300ms linear; }

@keyframes elastic {
  0% {
    border-radius: 50%; }
  45% {
    border-radius: 0; }
  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%; }
  80% {
    border-radius: 0; }
  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%; }
  100% {
    border-radius: 0; } }
.mobile-menu img.logo {
  width: 160px; }
.mobile-menu a.close {
  opacity: 1; }
.mobile-menu a.phone {
  font-size: 24px;
  display: inline-block;
  padding: 20px 0; }
  .mobile-menu a.phone, .mobile-menu a.phone:visited, .mobile-menu a.phone:active, .mobile-menu a.phone:focus, .mobile-menu a.phone:hover {
    color: #ffffff;
    text-decoration: none; }
  .mobile-menu a.phone img {
    margin-left: 8px;
    margin-top: -8px; }
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .mobile-menu ul li {
    padding: 10px 0;
    border-top: 1px solid #343944; }
    .mobile-menu ul li:last-child {
      border-bottom: 1px solid #343944; }
    .mobile-menu ul li a {
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase; }
      .mobile-menu ul li a, .mobile-menu ul li a:visited, .mobile-menu ul li a:active, .mobile-menu ul li a:focus, .mobile-menu ul li a:hover {
        color: #ffffff; }
    .mobile-menu ul li ul {
      padding: 20px 20px 10px 20px; }
      .mobile-menu ul li ul li {
        border: 0; }
        .mobile-menu ul li ul li:last-child {
          border: 0; }
        .mobile-menu ul li ul li a {
          font-size: 14px; }
.mobile-menu .site {
  margin-top: 15px;
  text-align: center; }
  .mobile-menu .site a, .mobile-menu .site a:visited, .mobile-menu .site a:active, .mobile-menu .site a:focus, .mobile-menu .site a:hover {
    color: #ffffff;
    text-decoration: none; }
    .mobile-menu .site a img, .mobile-menu .site a:visited img, .mobile-menu .site a:active img, .mobile-menu .site a:focus img, .mobile-menu .site a:hover img {
      filter: grayscale(1) brightness(2);
      margin-top: -4px;
      margin-right: 4px; }

header {
  padding: 25px 0; }
  header .contacts {
    margin-bottom: 10px;
    text-transform: none; }
    header .contacts .call {
      color: #a8a9ab; }
      header .contacts .call a {
        display: inline-block;
        color: #a8a9ab; }
        header .contacts .call a:hover, header .contacts .call a:active, header .contacts .call a:focus {
          text-decoration: none; }
        header .contacts .call a:after {
          margin-top: 0;
          display: block;
          content: "";
          height: 1px;
          width: 0;
          background-color: #a8a9ab;
          transition: all 0.3s ease; }
        header .contacts .call a:hover:after {
          width: 100%; }
    header .contacts a.site {
      display: inline-block;
      margin-left: 20px; }
      header .contacts a.site:hover, header .contacts a.site:active, header .contacts a.site:focus {
        text-decoration: none; }
      header .contacts a.site:after {
        margin-top: 0;
        display: block;
        content: "";
        height: 1px;
        width: 0;
        background-color: #0099f9;
        transition: all 0.3s ease; }
      header .contacts a.site:hover:after {
        width: 100%; }
      header .contacts a.site img {
        margin-right: 10px;
        margin-top: -2px; }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    header nav ul li {
      display: inline-block; }
      header nav ul li a {
        display: inline-block;
        display: inline-block;
        margin-right: 25px;
        text-transform: uppercase; }
        header nav ul li a:hover, header nav ul li a:active, header nav ul li a:focus {
          text-decoration: none; }
        header nav ul li a:after {
          margin-top: 10px;
          display: block;
          content: "";
          height: 5px;
          width: 0;
          background-color: #0099f9;
          transition: all 0.3s ease; }
        header nav ul li a:hover:after {
          width: 100%; }
        header nav ul li a, header nav ul li a:visited, header nav ul li a:active, header nav ul li a:focus, header nav ul li a:hover {
          color: #ffffff;
          text-decoration: none; }

.banner {
  padding: 30px 0; }
  @media only screen and (max-width: 1023px) {
    .banner.show {
      background: #1d232f; } }
  .banner h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase; }
    .banner h1 span {
      color: #0099f9; }
    @media only screen and (max-width: 1023px) {
      .banner h1 {
        font-size: 24px;
        text-align: center;
        background: #212f62;
        padding: 40px 20px; } }
  .banner .square {
    background: #212f62;
    width: 400px;
    height: 300px;
    position: absolute;
    z-index: -1;
    top: -45px;
    left: -30px; }
    @media only screen and (max-width: 1023px) {
      .banner .square {
        display: none; } }
  .banner .text-container {
    width: 50%;
    margin-left: 50%; }
    @media only screen and (max-width: 1023px) {
      .banner .text-container {
        width: 100%;
        margin-left: 0; } }
    .banner .text-container.show {
      width: 100%;
      margin-left: 0;
      margin-top: 140px; }
      @media only screen and (max-width: 1023px) {
        .banner .text-container.show {
          margin-top: 0; } }
  .banner .text {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 16px;
    max-height: 195px;
    overflow: hidden; }
    @media only screen and (max-width: 1023px) {
      .banner .text {
        max-height: 150px; } }
    .banner .text ul {
      list-style: none; }
      .banner .text ul li {
        position: relative;
        margin-bottom: 15px; }
        .banner .text ul li:before {
          content: "";
          width: 24px;
          height: 1px;
          background: #0099f9;
          position: absolute;
          left: -40px;
          top: 9px; }
    .banner .text .text-hidden {
      background: linear-gradient(180deg, #ffffff 0%, #555555 66%, #000000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .banner .text.show {
      max-height: 9999px;
      margin-top: 40px; }
      @media only screen and (max-width: 1023px) {
        .banner .text.show {
          margin-bottom: 20px; } }
      .banner .text.show .bg-dark {
        margin-bottom: 30px;
        padding: 25px;
        background: #212f62; }
      .banner .text.show .text-hidden {
        background: none;
        -webkit-text-fill-color: #ffffff; }
    .banner .text p.lead {
      font-size: 18px;
      margin-bottom: 30px; }
    .banner .text p {
      margin-bottom: 20px; }
      .banner .text p:last-child {
        margin-bottom: 0; }
    .banner .text .panel {
      background: none; }
      .banner .text .panel.show .panel-heading {
        background: #212f62; }
        .banner .text .panel.show .panel-heading a {
          border-bottom: 0; }
      .banner .text .panel.show .panel-body {
        background: #212f62; }
      .banner .text .panel-heading {
        padding: 15px 15px 0; }
      .banner .text .panel-title {
        font-weight: 300;
        font-size: 18px;
        line-height: 24px; }
        .banner .text .panel-title a {
          border-bottom: 1px #0099f9 dashed; }
          .banner .text .panel-title a:focus {
            color: #ffffff; }
      .banner .text .panel-body {
        padding: 20px;
        border-top: 0 !important;
        font-size: 14px; }
        .banner .text .panel-body ul {
          margin: 0; }
          .banner .text .panel-body ul li:last-child {
            margin-bottom: 0; }
  .banner .button {
    padding: 10px 15px; }
    .banner .button img {
      margin-left: 4px; }

.person__container {
  margin-top: 230px; }
.person__about {
  position: relative;
  background: #212f62;
  padding: 140px 40px 40px 40px; }
  .person__about__line {
    width: 16px;
    height: 130px;
    position: absolute;
    left: 40px;
    top: -100px;
    background: #0099f9; }
    @media only screen and (max-width: 1023px) {
      .person__about__line {
        display: none; } }
  .person__about img {
    position: absolute;
    top: -180px;
    right: 20px; }
  .person__about h2 {
    font-size: 30px;
    font-weight: 900;
    color: #0099f9;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px; }
  .person__about p {
    font-weight: 300;
    margin: 0;
    line-height: 24px; }
.person__text {
  margin-top: -100px;
  margin-bottom: 30px; }
  .person__text p {
    margin-bottom: 30px;
    line-height: 20px; }
  .person__text--mt-0 {
    margin-top: 0; }
    .person__text--mt-0 p {
      margin-bottom: 19px; }
  .person__text p.lead {
    font-size: 18px; }
    .person__text p.lead--big {
      font-size: 24px;
      line-height: 30px; }
  .person__text h3 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px; }
  @media only screen and (max-width: 1023px) {
    .person__text {
      margin-top: 30px; } }
.person__result-list {
  margin-bottom: 130px; }
  @media only screen and (max-width: 1023px) {
    .person__result-list {
      margin-bottom: 100px; } }
.person__result-item {
  float: left;
  width: 17%;
  margin-right: 10px;
  font-size: 24px;
  text-align: center; }
  @media only screen and (max-width: 1023px) {
    .person__result-item {
      font-size: 20px; } }
  .person__result-item:last-child {
    margin-right: 0; }
  .person__result-item span {
    font-weight: 900;
    border-top: 1px solid #0099f9; }

#person2 .person__container {
  margin-top: 270px; }
  @media only screen and (min-width: 768px) {
    #person2 .person__container {
      margin-bottom: 0; } }
  @media only screen and (min-width: 1024px) {
    #person2 .person__container {
      margin-bottom: 80px; } }

.offers__header {
  padding: 50px 0; }
  @media only screen and (max-width: 1023px) {
    .offers__header {
      padding-bottom: 0; } }
  .offers__header h2 {
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase; }
    @media only screen and (max-width: 1023px) {
      .offers__header h2 {
        font-size: 24px;
        padding: 20px;
        border: 3px #ffffff solid; } }
    .offers__header h2 span {
      color: #0099f9; }
  .offers__header .sort-block {
    width: 54%;
    float: right;
    margin-top: -45px; }
    @media only screen and (max-width: 1023px) {
      .offers__header .sort-block {
        width: 100%;
        float: none;
        margin-top: 10px;
        text-align: center; } }
    .offers__header .sort-block p {
      color: #8e9094;
      margin-bottom: 35px;
      margin-left: 15px;
      text-transform: uppercase; }
      @media only screen and (max-width: 1023px) {
        .offers__header .sort-block p {
          display: none; } }
    .offers__header .sort-block .button {
      text-transform: uppercase;
      margin-right: 15px; }
      .offers__header .sort-block .button, .offers__header .sort-block .button:visited, .offers__header .sort-block .button:active, .offers__header .sort-block .button:focus, .offers__header .sort-block .button:hover {
        background: #1d232f;
        color: #0099f9; }
        .offers__header .sort-block .button img, .offers__header .sort-block .button:visited img, .offers__header .sort-block .button:active img, .offers__header .sort-block .button:focus img, .offers__header .sort-block .button:hover img {
          filter: none; }
      .offers__header .sort-block .button img {
        transform: scale(1, 1); }
      .offers__header .sort-block .button.active, .offers__header .sort-block .button:focus, .offers__header .sort-block .button:hover {
        background: #0099f9;
        color: #ffffff; }
        .offers__header .sort-block .button.active img, .offers__header .sort-block .button:focus img, .offers__header .sort-block .button:hover img {
          filter: grayscale(1) brightness(2); }
      .offers__header .sort-block .button.asc img {
        transform: scale(1, -1); }
      @media only screen and (max-width: 1023px) {
        .offers__header .sort-block .button {
          color: #0099f9;
          border: 0;
          background: transparent;
          font-weight: 900; }
          .offers__header .sort-block .button img {
            filter: none; }
          .offers__header .sort-block .button:hover {
            color: #ffffff; }
            .offers__header .sort-block .button:hover img {
              filter: grayscale(1) brightness(2); }
          .offers__header .sort-block .button.no-active {
            color: #ffffff; }
            .offers__header .sort-block .button.no-active img {
              filter: grayscale(1) brightness(2); } }
.offers__item {
  margin: 40px 0; }
  @media only screen and (max-width: 1023px) {
    .offers__item {
      margin: 50px 0; } }
  .offers__item__header {
    padding: 25px 0;
    text-transform: uppercase;
    position: relative; }
    @media only screen and (max-width: 1023px) {
      .offers__item__header {
        padding: 10px 0; } }
    .offers__item__header__line {
      width: 16px;
      height: 130px;
      position: absolute;
      left: 50%;
      top: -40px;
      background: #0099f9; }
      @media only screen and (max-width: 1023px) {
        .offers__item__header__line {
          display: none; } }
    .offers__item__header__dark-line {
      width: 14px;
      height: 82px;
      position: absolute;
      left: -30px;
      top: -70px;
      background: #212f62; }
      @media only screen and (max-width: 1023px) {
        .offers__item__header__dark-line {
          display: none; } }
    .offers__item__header__img {
      position: absolute;
      z-index: -1; }
      @media only screen and (max-width: 1023px) {
        .offers__item__header__img {
          margin-top: 130px; } }
      .offers__item__header__img img {
        margin-top: -30px;
        height: 300px;
        margin-left: 220px; }
        @media only screen and (max-width: 1023px) {
          .offers__item__header__img img {
            display: none;
            max-width: 100%;
            height: auto;
            margin-top: 0;
            margin-left: 0; } }
    .offers__item__header__name {
      font-size: 48px;
      font-weight: 900;
      line-height: 45px;
      padding: 20px 90px 40px 20px;
      background: #0099f9;
      display: inline-block;
      position: relative; }
      @media only screen and (max-width: 1023px) {
        .offers__item__header__name {
          font-size: 24px;
          padding: 20px;
          width: 60%;
          line-height: 36px; } }
      .offers__item__header__name span {
        border-bottom: 1px solid #ffffff;
        line-height: 90px; }
        @media only screen and (max-width: 1023px) {
          .offers__item__header__name span {
            line-height: 42px; } }
      .offers__item__header__name a.pdf-download img {
        transition: all 0.3s ease;
        position: absolute;
        right: 20px;
        top: 20px; }
      .offers__item__header__name a.pdf-download:hover img {
        filter: brightness(0.8); }
    .offers__item__header__counts {
      float: right;
      margin-top: 100px; }
      @media only screen and (max-width: 1023px) {
        .offers__item__header__counts {
          margin: 0;
          padding: 20px 0 0 0;
          float: none; } }
      .offers__item__header__counts__item {
        position: relative;
        display: inline-block;
        font-size: 12px;
        margin-right: 80px; }
        @media only screen and (max-width: 1023px) {
          .offers__item__header__counts__item {
            margin-bottom: 15px; } }
        .offers__item__header__counts__item p {
          margin-bottom: 10px; }
          @media only screen and (max-width: 1023px) {
            .offers__item__header__counts__item p {
              margin-bottom: 0; } }
        .offers__item__header__counts__item p.count {
          color: #0099f9;
          font-size: 48px;
          font-weight: 900; }
  .offers__item__content {
    margin-bottom: 150px; }
    @media only screen and (max-width: 1023px) {
      .offers__item__content {
        margin-bottom: 20px; } }
    .offers__item__content__chart {
      position: relative;
      float: left;
      margin-left: -85px; }
      @media only screen and (max-width: 1023px) {
        .offers__item__content__chart {
          float: none;
          margin-left: 0;
          height: 360px; } }
      .offers__item__content__chart .chart-lines {
        display: none;
        position: absolute;
        z-index: 0;
        left: -16px;
        top: -15px; }
      .offers__item__content__chart a.canvasjs-chart-credit {
        visibility: hidden; }
    .offers__item__content__text {
      width: 50%;
      margin-left: 50%;
      margin-top: 40px;
      margin-bottom: 20px; }
      @media only screen and (max-width: 1023px) {
        .offers__item__content__text {
          width: 100%;
          margin-left: 0; } }
      .offers__item__content__text .text-inner {
        transition: all 0.3s ease;
        max-height: 340px;
        overflow: hidden;
        position: relative; }
        @media only screen and (max-width: 1023px) {
          .offers__item__content__text .text-inner {
            max-height: 230px; }
            .offers__item__content__text .text-inner .mt-hide {
              display: none; } }
        .offers__item__content__text .text-inner:after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100px;
          bottom: 0;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1d242f 100%); }
          @media only screen and (max-width: 1023px) {
            .offers__item__content__text .text-inner:after {
              display: none; } }
        .offers__item__content__text .text-inner.safari-after {
          max-height: 230px; }
          .offers__item__content__text .text-inner.safari-after:after {
            display: none; }
        .offers__item__content__text .text-inner.show {
          max-height: 9999px; }
          @media only screen and (max-width: 1023px) {
            .offers__item__content__text .text-inner.show .mt-hide {
              display: block; } }
          .offers__item__content__text .text-inner.show:after {
            display: none; }
      .offers__item__content__text .table {
        margin-top: -20px; }
        @media only screen and (max-width: 1023px) {
          .offers__item__content__text .table {
            margin-top: 0; } }
      .offers__item__content__text h3 {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 30px;
        text-transform: uppercase; }
        @media only screen and (max-width: 1023px) {
          .offers__item__content__text h3 {
            margin-bottom: 10px; } }
      .offers__item__content__text p {
        margin-bottom: 30px; }
        @media only screen and (max-width: 1023px) {
          .offers__item__content__text p {
            margin-bottom: 10px; } }
      .offers__item__content__text ul {
        list-style: none; }
        .offers__item__content__text ul li {
          position: relative; }
          .offers__item__content__text ul li:before {
            content: "";
            width: 24px;
            height: 1px;
            background: #0099f9;
            position: absolute;
            left: -40px;
            top: 9px; }
          .offers__item__content__text ul li p {
            margin-bottom: 30px; }
            @media only screen and (max-width: 1023px) {
              .offers__item__content__text ul li p {
                margin-bottom: 10px; } }
      .offers__item__content__text .buttons {
        text-align: center;
        margin-top: 30px; }
      .offers__item__content__text .button {
        padding: 10px 15px;
        margin-right: 20px; }
        .offers__item__content__text .button, .offers__item__content__text .button:visited, .offers__item__content__text .button:active, .offers__item__content__text .button:focus, .offers__item__content__text .button:hover {
          background: #0099f9; }
        .offers__item__content__text .button.no-active {
          background: #1d232f; }

.about {
  position: relative; }
  .about__img {
    position: absolute;
    width: 100%;
    margin-top: -65px; }
    @media only screen and (max-width: 1023px) {
      .about__img {
        display: none; } }
  .about__name {
    background: #212f62;
    padding: 50px 40px;
    margin-bottom: 50px;
    width: 420px; }
    @media only screen and (max-width: 1023px) {
      .about__name {
        width: 100%;
        padding: 20px; } }
    .about__name h1 {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 25px; }
      @media only screen and (max-width: 1023px) {
        .about__name h1 {
          font-size: 24px; } }
    .about__name p {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 25px; }
      @media only screen and (max-width: 1023px) {
        .about__name p {
          font-size: 14px; } }
    .about__name p.more {
      color: #aaaec4;
      font-size: 14px;
      text-transform: none;
      margin-bottom: 0; }
      .about__name p.more a, .about__name p.more a:visited, .about__name p.more a:active, .about__name p.more a:focus, .about__name p.more a:hover {
        color: #ffffff;
        text-decoration: underline; }
      .about__name p.more a:hover {
        text-decoration: none; }
  .about__partners {
    margin-left: 30px; }
    @media only screen and (max-width: 1023px) {
      .about__partners {
        margin-left: 0; } }
    @media only screen and (min-width: 768px) {
      .about__partners {
        margin-left: 0;
        text-align: center; } }
    @media only screen and (min-width: 1024px) {
      .about__partners {
        margin-left: 30px;
        text-align: left; } }
    @media only screen and (max-width: 1023px) {
      .about__partners img {
        width: 100%; } }
    @media only screen and (min-width: 768px) {
      .about__partners img {
        width: auto; } }
  .about__list {
    margin-top: 10px; }
    @media only screen and (max-width: 1023px) {
      .about__list {
        margin-top: 40px; } }
    .about__list .button {
      padding: 10px 20px;
      margin-left: 16%; }
      @media only screen and (max-width: 1023px) {
        .about__list .button {
          margin-left: 32%; } }
      @media only screen and (min-width: 768px) {
        .about__list .button {
          margin-left: 40%; } }
    .about__list ul {
      list-style: none;
      margin: 0; }
      .about__list ul li {
        position: relative;
        margin-bottom: 30px; }
        .about__list ul li:before {
          content: "";
          width: 24px;
          height: 1px;
          background: #0099f9;
          position: absolute;
          left: -40px;
          top: 9px; }
  .about__result-list {
    transition: all 0.3s ease;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0; }
    .about__result-list.show {
      visibility: visible;
      max-height: 465px; }
  .about__result-item {
    width: 30%;
    line-height: 14px;
    margin-bottom: 30px;
    padding-top: 10px;
    font-weight: 900; }
    .about__result-item hr {
      border: 0;
      color: #0099f9;
      background-color: #0099f9;
      margin-top: 15px;
      margin-bottom: 5px;
      height: 1px;
      width: 90%; }
    .about__result-item span {
      font-weight: 300;
      font-size: 12px;
      border-top: 0; }

.contacts {
  text-transform: uppercase; }
  @media only screen and (max-width: 1023px) {
    .contacts {
      margin-top: 0; } }
  .contacts h3 {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0; }
    @media only screen and (max-width: 1023px) {
      .contacts h3 {
        font-size: 24px;
        margin-top: 20px; } }
  .contacts a.phone {
    display: inline-block;
    color: #0099f9;
    font-size: 100px;
    font-weight: 900; }
    .contacts a.phone:hover, .contacts a.phone:active, .contacts a.phone:focus {
      text-decoration: none; }
    .contacts a.phone:after {
      margin-top: 0;
      display: block;
      content: "";
      height: 10px;
      width: 0;
      background-color: #0099f9;
      transition: all 0.3s ease; }
    .contacts a.phone:hover:after {
      width: 100%; }
    @media only screen and (max-width: 1023px) {
      .contacts a.phone {
        font-size: 40px; } }
  .contacts a.callback {
    background: transparent;
    border-color: #8e9197;
    position: absolute;
    margin-left: 30px;
    margin-top: 50px;
    padding-bottom: 10px; }
    @media only screen and (max-width: 1023px) {
      .contacts a.callback {
        position: relative;
        margin-left: 0;
        margin-top: 25px;
        margin-bottom: 15px;
        width: 100%;
        text-align: center; } }
    .contacts a.callback img {
      margin-top: -8px;
      margin-left: 0;
      margin-right: 8px; }
    .contacts a.callback:hover {
      background: #0099f9;
      border-color: #0099f9; }
  .contacts .address {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px; }
    @media only screen and (max-width: 1023px) {
      .contacts .address {
        text-align: center;
        font-size: 12px; } }
    .contacts .address .email {
      display: inline-block; }
      .contacts .address .email:hover, .contacts .address .email:active, .contacts .address .email:focus {
        text-decoration: none; }
      .contacts .address .email:after {
        margin-top: 0;
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: #0099f9;
        transition: all 0.3s ease; }
      .contacts .address .email:hover:after {
        width: 100%; }
      .contacts .address .email, .contacts .address .email:visited, .contacts .address .email:active, .contacts .address .email:focus, .contacts .address .email:hover {
        color: #0099f9;
        text-decoration: none; }
  .contacts .social {
    margin-top: 30px; }
    @media only screen and (max-width: 1023px) {
      .contacts .social {
        text-align: center; } }
    .contacts .social a {
      display: inline-block;
      margin-right: 50px; }
      @media only screen and (max-width: 1023px) {
        .contacts .social a {
          margin: 0 25px; } }
      .contacts .social a img {
        transition: all 0.3s ease; }
      .contacts .social a:hover img {
        filter: brightness(0.7); }

footer {
  padding: 60px 0; }
  @media only screen and (max-width: 1023px) {
    footer {
      padding: 20px 0; } }
  @media only screen and (max-width: 1023px) {
    footer img {
      display: none; } }
  footer nav {
    margin-bottom: 40px;
    text-align: right; }
    @media only screen and (max-width: 1023px) {
      footer nav {
        display: none; } }
    footer nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer nav ul li {
        display: inline-block; }
        footer nav ul li a {
          display: inline-block;
          display: inline-block;
          padding: 20px 0;
          margin-left: 20px;
          text-transform: uppercase; }
          footer nav ul li a:hover, footer nav ul li a:active, footer nav ul li a:focus {
            text-decoration: none; }
          footer nav ul li a:after {
            margin-top: 10px;
            display: block;
            content: "";
            height: 5px;
            width: 0;
            background-color: #0099f9;
            transition: all 0.3s ease; }
          footer nav ul li a:hover:after {
            width: 100%; }
          footer nav ul li a, footer nav ul li a:visited, footer nav ul li a:active, footer nav ul li a:focus, footer nav ul li a:hover {
            color: #ffffff;
            text-decoration: none; }
  footer p {
    color: #999999;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: justify; }
  footer p.copy {
    color: #ffffff; }
    @media only screen and (max-width: 1023px) {
      footer p.copy {
        text-align: center; } }

/*# sourceMappingURL=style.css.map */
