.about {
  position: relative;

  &__img {
    position: absolute;
    width: 100%;
    margin-top: -65px;

    @include mq('phone') {
      display: none;
    }
  }

  &__name {
    background: $color-dark-blue;
    padding: 50px 40px;
    margin-bottom: 50px;
    width: 420px;

    @include mq('phone') {
      width: 100%;
      padding: 20px;
    }

    h1 {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 25px;

      @include mq('phone') {
        font-size: 24px;
      }
    }

    p {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 25px;

      @include mq('phone') {
        font-size: 14px;
      }
    }

    p.more {
      color: #aaaec4;
      font-size: 14px;
      text-transform: none;
      margin-bottom: 0;

      a {
        @include link() {
          color: #ffffff;
          text-decoration: underline;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__partners {
    margin-left: 30px;

    @include mq('phone') {
      margin-left: 0;
    }

    @include mq('tablet', 'min') {
      margin-left: 0;
      text-align: center;
    }

    @include mq('phone', 'min') {
      margin-left: 30px;
      text-align: left;
    }

    img {
      @include mq('phone') {
        width: 100%;
      }

      @include mq('tablet', 'min') {
        width: auto;
      }
    }
  }

  &__list {
    margin-top: 10px;

    @include mq('phone') {
      margin-top: 40px;
    }

    .button {
      padding: 10px 20px;
      margin-left: 16%;

      @include mq('phone') {
        margin-left: 32%;
      }

      @include mq('tablet', 'min') {
        margin-left: 40%;
      }
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        position: relative;
        margin-bottom: 30px;

        &:before {
          content: "";
          width: 24px;
          height: 1px;
          background: $color-blue;
          position: absolute;
          left: -40px;
          top: 9px;
        }
      }
    }
  }

  &__result {

    &-list {
      @include default-transition();
      visibility: hidden;
      max-height: 0;
      overflow: hidden;

      margin-top: 0;
      margin-bottom: 0;

      &.show {
        visibility: visible;
        max-height: 465px;
      }
    }

    &-item {
      width: 30%;
      line-height: 14px;
      margin-bottom: 30px;
      padding-top: 10px;
      font-weight: 900;

      hr {
        border: 0;
        color: #0099f9;
        background-color: #0099f9;
        margin-top: 15px;
        margin-bottom: 5px;
        height: 1px;
        width: 90%;
      }

      span {
        font-weight: 300;
        font-size: 12px;
        border-top: 0;
      }
    }
  }
}