.banner {
  padding: 30px 0;

  &.show {
    @include mq('phone') {
      background: #1d232f;
    }
  }

  h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;

    span {
      color: $color-blue;
    }

    @include mq('phone') {
      font-size: 24px;
      text-align: center;
      background: $color-dark-blue;
      padding: 40px 20px;
    }
  }

  .square {
    background: $color-dark-blue;
    width: 400px;
    height: 300px;
    position: absolute;
    z-index: -1;
    top: -45px;
    left: -30px;

    @include mq('phone') {
      display: none;
    }
  }

  .text-container {
    width: 50%;
    margin-left: 50%;

    @include mq('phone') {
      width: 100%;
      margin-left: 0;
    }

    &.show {
      width: 100%;
      margin-left: 0;
      margin-top: 140px;

      @include mq('phone') {
        margin-top: 0;
      }
    }
  }

  .text {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 16px;
    max-height: 195px;
    overflow: hidden;

    @include mq('phone') {
      max-height: 150px;
    }

    ul {
      list-style: none;

      li {
        position: relative;
        margin-bottom: 15px;

        &:before {
          content: "";
          width: 24px;
          height: 1px;
          background: $color-blue;
          position: absolute;
          left: -40px;
          top: 9px;
        }
      }
    }

    .text-hidden {
      background: linear-gradient(180deg, #ffffff 0%, #555555 66%, #000000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.show {
      max-height: 9999px;
      margin-top: 40px;

      @include mq('phone') {
        margin-bottom: 20px;
      }

      .bg-dark {
        margin-bottom: 30px;
        padding: 25px;
        background: $color-dark-blue;
      }

      .text-hidden {
        background: none;
        -webkit-text-fill-color: #ffffff;
      }
    }

    p.lead {
      font-size: 18px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .panel {
      background: none;

      &.show {

        .panel-heading {
          background: $color-dark-blue;

          a {
            border-bottom: 0;
          }
        }

        .panel-body {
          background: $color-dark-blue;
        }
      }

      &-heading {
        padding: 15px 15px 0;
      }

      &-title {
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;

        a {
          border-bottom: 1px $color-blue dashed;

          &:focus {
            color: #ffffff;
          }
        }
      }

      &-body {
        padding: 20px;
        border-top: 0 !important;
        font-size: 14px;

        ul {
          margin: 0;

          li {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .button {
    padding: 10px 15px;

    img {
      margin-left: 4px;
    }
  }
}