.contacts {
  text-transform: uppercase;

  @include mq('phone') {
    margin-top: 0;
  }

  h3 {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0;

    @include mq('phone') {
      font-size: 24px;
      margin-top: 20px;
    }
  }

  a.phone {
    @include link-hvr($color-blue, 10px);

    color: $color-blue;
    font-size: 100px;
    font-weight: 900;

    @include mq('phone') {
      font-size: 40px;
    }
  }

  a.callback {
    background: transparent;
    border-color: #8e9197;
    position: absolute;
    margin-left: 30px;
    margin-top: 50px;
    padding-bottom: 10px;

    @include mq('phone') {
      position: relative;
      margin-left: 0;
      margin-top: 25px;
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
    }

    img {
      margin-top: -8px;
      margin-left: 0;
      margin-right: 8px;
    }

    &:hover {
      background: $color-blue;
      border-color: $color-blue;
    }
  }

  .address {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;

    @include mq('phone') {
      text-align: center;
      font-size: 12px;
    }

    .email {
      @include link-hvr($color-blue);

      @include link() {
        color: $color-blue;
        text-decoration: none;
      }
    }
  }

  .social {
    margin-top: 30px;

    @include mq('phone') {
      text-align: center;
    }

    a {
      display: inline-block;
      margin-right: 50px;

      @include mq('phone') {
        margin: 0 25px;
      }

      img {
        @include default-transition();
      }

      &:hover {

        img {
          filter: brightness(0.7);
        }
      }
    }
  }
}