footer {
  padding: 60px 0;

  @include mq('phone') {
    padding: 20px 0;
  }

  img{
    @include mq('phone') {
      display: none;
    }
  }

  nav {
    margin-bottom: 40px;
    text-align: right;

    @include mq('phone') {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          @include link-hvr($color-blue, 5px, 10px);
          display: inline-block;
          padding: 20px 0;
          margin-left: 20px;
          text-transform: uppercase;

          @include link() {
            color: #ffffff;
            text-decoration: none;
          }

        }
      }
    }
  }

  p {
    color: #999999;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: justify;
  }

  p.copy {
    color: #ffffff;

    @include mq('phone') {
      text-align: center;
    }
  }
}