header {
  padding: 25px 0;

  .contacts {
    margin-bottom: 10px;
    text-transform: none;

    .call {
      color: #a8a9ab;

      a {
        @include link-hvr(#a8a9ab, 1px);
        color: #a8a9ab;
      }
    }

    a.site {
      @include link-hvr($color-blue, 1px);
      margin-left: 20px;

      img {
        margin-right: 10px;
        margin-top: -2px;
      }
    }
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          @include link-hvr($color-blue, 5px, 10px);
          display: inline-block;
          margin-right: 25px;
          text-transform: uppercase;

          @include link() {
            color: #ffffff;
            text-decoration: none;
          }

        }
      }
    }
  }
}