.mobile-header{
  padding: 20px;
  text-align: center;

  @include mq('phone', min) {
    display: none;
  }

  .burger{
    float: left;

    img{
      width: 25px;
    }
  }

  .logo{
    width: 160px;
    margin: 0 30px;
  }

  .phone{
    float: right;
  }
}