$elastic: (
        position: left,
        width: 320,
        backgroundColor: #1d232f,
        duration: 300,
);

// get key
$position: map-get($elastic, 'position');
$width: 100%;
$backgroundColor: map-get($elastic, 'backgroundColor');
$duration: map-get($elastic, 'duration');

.navigation {
  position: fixed;
  width: $width;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition-delay: $duration*1ms;
  @if ($position == right) {
    right: 0;
  } @else if ($position == left) {
    left: 0;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    .navigation__inner {
      overflow-y: scroll;
      background-color: $backgroundColor;
      transform: translate(0, 0);
      transition: transform $duration*1ms linear, background-color 0s linear ($duration*2-1)*1ms;
      &:after {
        width: 300%;
        border-radius: 50%;
        animation: elastic ($duration/2)*1ms ease ($duration+0.5)*1ms both;
      }
    }
  }
}
.navigation__inner {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  @if ($position == right) {
    transform: translate(100%, 0);
  } @else if ($position == left) {
    transform: translate(-100%, 0);
  }
  transition: transform $duration*1ms linear, background-color 0s linear $duration*1ms;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    @if ($position == right) {
      left: 0;
    } @else if ($position == left) {
      right: 0;
    }
    background-color: $backgroundColor;
    border-radius: 50%;
    z-index: -1;
    transition: all $duration*1ms linear;

  }
}
@keyframes elastic {
  0% {
    border-radius: 50%;
  }
  45% {
    border-radius: 0;
  }
  65% {
    @if ($position == right) {
      border-top-left-radius: 40px 50%;
      border-bottom-left-radius: 40px 50%;
    } @else if ($position == left) {
      border-top-right-radius: 40px 50%;
      border-bottom-right-radius: 40px 50%;
    }
  }
  80% {
    border-radius: 0;
  }
  90% {
    @if ($position == right) {
      border-top-left-radius: 20px 50%;
      border-bottom-left-radius: 20px 50%;
    } @else if ($position == left) {
      border-top-right-radius: 20px 50%;
      border-bottom-right-radius: 20px 50%;
    }
  }
  100% {
    border-radius: 0;
  }
}

.mobile-menu {

  img.logo {
    width: 160px;
  }

  a.close {
    opacity: 1;
  }

  a.phone {
    font-size: 24px;
    display: inline-block;
    padding: 20px 0;

    @include link() {
      color: #ffffff;
      text-decoration: none;
    }

    img {
      margin-left: 8px;
      margin-top: -8px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 0;
      border-top: 1px solid #343944;

      &:last-child {
        border-bottom: 1px solid #343944;
      }

      a {
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;

        @include link() {
          color: #ffffff;
        }
      }

      ul {
        padding: 20px 20px 10px 20px;

        li {
          border: 0;
          &:last-child {
            border: 0;
          }

          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .site {
    margin-top: 15px;
    text-align: center;

    a {

      @include link() {
        color: #ffffff;
        text-decoration: none;

        img {
          filter: grayscale(1) brightness(2);
          margin-top: -4px;
          margin-right: 4px;
        }
      }
    }
  }
}