.offers {

  &__header {
    padding: 50px 0;

    @include mq('phone') {
      padding-bottom: 0;
    }

    h2 {
      margin: 0;
      font-size: 80px;
      font-weight: 900;
      text-transform: uppercase;

      @include mq('phone') {
        font-size: 24px;
        padding: 20px;
        border: 3px #ffffff solid;
      }

      span {
        color: $color-blue;
      }
    }

    .sort-block {
      width: 54%;
      float: right;
      margin-top: -45px;

      @include mq('phone') {
        width: 100%;
        float: none;
        margin-top: 10px;
        text-align: center;
      }

      p {
        color: #8e9094;
        margin-bottom: 35px;
        margin-left: 15px;
        text-transform: uppercase;

        @include mq('phone') {
          display: none;
        }
      }

      .button {
        text-transform: uppercase;
        margin-right: 15px;

        @include link() {
          background: #1d232f;
          color: $color-blue;

          img {
            filter: none;
          }
        }

        img {
          transform: scale(1, 1);
        }

        &.active, &:focus, &:hover {
          background: $color-blue;
          color: #ffffff;
          img {
            filter: grayscale(1) brightness(2);
          }
        }

        &.asc {
          img {
            transform: scale(1, -1);
          }
        }

        @include mq('phone') {
          color: $color-blue;
          border: 0;
          background: transparent;
          font-weight: 900;

          img {
            filter: none;
          }

          &:hover {
            color: #ffffff;

            img {
              filter: grayscale(1) brightness(2);
            }
          }

          &.no-active {
            color: #ffffff;

            img {
              filter: grayscale(1) brightness(2);
            }
          }
        }
      }
    }
  }

  &__item {
    margin: 40px 0;

    @include mq('phone') {
      margin: 50px 0;
    }

    &__header {
      padding: 25px 0;
      text-transform: uppercase;
      position: relative;

      @include mq('phone') {
        padding: 10px 0;
      }

      &__line {
        width: 16px;
        height: 130px;
        position: absolute;
        left: 50%;
        top: -40px;
        background: $color-blue;

        @include mq('phone') {
          display: none;
        }
      }

      &__dark-line {
        width: 14px;
        height: 82px;
        position: absolute;
        left: -30px;
        top: -70px;
        background: $color-dark-blue;

        @include mq('phone') {
          display: none;
        }
      }

      &__img {
        position: absolute;
        z-index: -1;

        @include mq('phone') {
          margin-top: 130px;
        }

        img {
          margin-top: -30px;
          height: 300px;
          margin-left: 220px;

          @include mq('phone') {
            display: none;
            max-width: 100%;
            height: auto;
            margin-top: 0;
            margin-left: 0;
          }
        }
      }

      &__name {
        font-size: 48px;
        font-weight: 900;
        line-height: 45px;
        padding: 20px 90px 40px 20px;
        background: $color-blue;
        display: inline-block;
        position: relative;

        @include mq('phone') {
          font-size: 24px;
          padding: 20px;
          width: 60%;
          line-height: 36px;
        }

        span {
          border-bottom: 1px solid #ffffff;
          line-height: 90px;

          @include mq('phone') {
            line-height: 42px;
          }
        }

        a.pdf-download {

          img {
            @include default-transition();
            position: absolute;
            right: 20px;
            top: 20px;
          }

          &:hover {
            img {
              filter: brightness(0.8);
            }
          }
        }
      }

      &__counts {
        float: right;
        margin-top: 100px;

        @include mq('phone') {
          margin: 0;
          padding: 20px 0 0 0;
          float: none;
        }

        &__item {
          position: relative;
          display: inline-block;
          font-size: 12px;
          margin-right: 80px;

          @include mq('phone') {
            margin-bottom: 15px;
          }

          p {
            margin-bottom: 10px;

            @include mq('phone') {
              margin-bottom: 0;
            }
          }

          p.count {
            color: $color-blue;
            font-size: 48px;
            font-weight: 900;
          }
        }
      }
    }

    &__content {
      margin-bottom: 150px;

      @include mq('phone') {
        margin-bottom: 20px;
      }

      &__chart {
        position: relative;
        float: left;
        margin-left: -85px;

        @include mq('phone') {
          float: none;
          margin-left: 0;
          height: 360px;
        }

        .chart-lines {
          display: none;
          position: absolute;
          z-index: 0;
          left: -16px;
          top: -15px;
        }

        a.canvasjs-chart-credit {
          visibility: hidden;
        }
      }

      &__text {
        width: 50%;
        margin-left: 50%;
        margin-top: 40px;
        margin-bottom: 20px;

        @include mq('phone') {
          width: 100%;
          margin-left: 0;
        }

        .text-inner {
          @include default-transition();
          max-height: 340px;
          overflow: hidden;
          position: relative;

          @include mq('phone') {
            max-height: 230px;

            .mt-hide {
              display: none;
            }
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100px;
            bottom: 0;

            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(29, 36, 47, 1) 100%);

            @include mq('phone') {
              display: none;
            }
          }

          &.safari-after {
            max-height: 230px;

            &:after {
              display: none;
            }
          }

          &.show {
            max-height: 9999px;

            @include mq('phone') {

              .mt-hide {
                display: block;
              }
            }

            &:after {
              display: none;
            }
          }
        }

        .table {
          margin-top: -20px;

          @include mq('phone') {
            margin-top: 0;
          }
        }

        h3 {
          font-size: 24px;
          font-weight: 900;
          margin-bottom: 30px;
          text-transform: uppercase;

          @include mq('phone') {
            margin-bottom: 10px;
          }
        }

        p {
          margin-bottom: 30px;

          @include mq('phone') {
            margin-bottom: 10px;
          }
        }

        ul {
          list-style: none;

          li {
            position: relative;

            &:before {
              content: "";
              width: 24px;
              height: 1px;
              background: $color-blue;
              position: absolute;
              left: -40px;
              top: 9px;
            }

            p {
              margin-bottom: 30px;

              @include mq('phone') {
                margin-bottom: 10px;
              }
            }
          }
        }

        .buttons {
          text-align: center;
          margin-top: 30px;
        }

        .button {
          padding: 10px 15px;
          margin-right: 20px;

          @include link() {
            background: $color-blue;
          }

          &.no-active {
            background: #1d232f;

          }
        }
      }
    }
  }
}