

.person {

  &__container {
    margin-top: 230px;
  }

  &__about {
    position: relative;
    background: $color-dark-blue;
    padding: 140px 40px 40px 40px;

    &__line {
      width: 16px;
      height: 130px;
      position: absolute;
      left: 40px;
      top: -100px;
      background: $color-blue;

      @include mq('phone') {
        display: none;
      }
    }

    img {
      position: absolute;
      top: -180px;
      right: 20px;
    }

    h2 {
      font-size: 30px;
      font-weight: 900;
      color: $color-blue;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }

    p {
      font-weight: 300;
      margin: 0;
      line-height: 24px;
    }
  }

  &__text {
    margin-top: -100px;
    margin-bottom: 30px;

    p {
      margin-bottom: 30px;
      line-height: 20px;
    }

    &--mt-0 {
      margin-top: 0;

      p {
        margin-bottom: 19px;
      }
    }

    p.lead {
      font-size: 18px;

      &--big {
        font-size: 24px;
        line-height: 30px;
      }
    }

    h3 {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 30px;
    }

    @include mq('phone') {
      margin-top: 30px;
    }
  }

  &__result {
    &-list {
      margin-bottom: 130px;

      @include mq('phone') {
        margin-bottom: 100px;
      }
    }

    &-item {
      float: left;
      width: 17%;
      margin-right: 10px;
      font-size: 24px;
      text-align: center;

      @include mq('phone') {
        font-size: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      span {
        font-weight: 900;
        border-top: 1px solid $color-blue;
      }
    }
  }
}


#person2 .person {
  &__container {
    margin-top: 270px;

    @include mq('tablet', 'min') {
      margin-bottom: 0;
    }

    @include mq('phone', 'min') {
      margin-bottom: 80px;
    }
  }
}