.video {
  position: absolute;
  z-index: -2;
  //width: 84.3%;
  width: 95%;
  margin-left: 15.7%;
  min-height: 770px;
  overflow: hidden;

  &.show {
    min-height: 445px;
  }

  @include mq('phone') {
    width: 100%;
    margin: 0 -15px;
    min-height: 600px;

    &.show {
      min-height: 235px;
    }
  }

  video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @include mq('phone') {
      //display: none;
    }
  }

  .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}