.button {
  @include default-transition();
  background: $color-blue;
  border: 1px solid $color-blue;
  padding: 15px 15px;
  white-space: nowrap;
  display: inline-block;

  @include link() {
    color: #ffffff;
    text-decoration: none;
  }

  &:hover {
    background: none;
  }

  img {
    margin-left: 6px;
    margin-top: -2px;
    filter: grayscale(1) brightness(10);
  }

  &.no-active {
    background: none;
    color: $color-blue;

    img {
      filter: none;
    }

    &:hover {
      background: $color-blue;
      color: #ffffff;

      img {
        filter: grayscale(1) brightness(2);
      }
    }
  }
}