$color-blue: #0099f9;
$color-dark-blue: #212f62;

// Mixins
@mixin default-transition() {
  transition: all 0.3s ease;
}

$breakpoints: (
        "phone": 1024px,
        "tablet": 768px,
        "desktop": 1200px,
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin link() {
  &, &:visited, &:active, &:focus, &:hover {
    @content;
  }
}

// /Mixins

.m-hide {
  @include mq('phone') {
    display: none;
  }
}

.m-vhide {
  @include mq('phone') {
    visibility: hidden;
  }
}

body {
  font-family: 'DIN Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: #1d232f;
  color: #ffffff;
  position: relative;
}

.bg-lines {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: url("../img/lines.png") repeat-y 50%;

  @include mq('phone') {
    display: none;
  }
}

.container {
  @include mq('phone', min) {
    width: 990px;
  }
}

a {
  &, &:hover, &:active, &:visited, &:focus {
    color: $color-blue;
    text-decoration: none;
  }
}

.pb-0 {
  padding-bottom: 0;
}

@mixin link-hvr($color:#ffffff, $height:2px, $margin-top:0) {
  display: inline-block;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }

  &:after {
    margin-top: $margin-top;
    display: block;
    content: "";
    height: $height;
    width: 0;
    background-color: $color;
    @include default-transition();
  }

  &:hover:after {
    width: 100%;
  }
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 4px;
  border-top: 0;
  border-bottom: 1px solid $color-blue;
}
