body {
  font-family: 'DIN Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: #1d232f;
  color: #ffffff; }

@media only screen and (min-width: 1024px) {
  .container {
    width: 990px; } }

.m-0 {
  margin: 0; }

a, a:hover, a:active, a:visited, a:focus {
  color: #0099f9;
  text-decoration: none; }

/*# sourceMappingURL=general.css.map */
