.modal {

  .close {
    opacity: 1;
    margin-top: 3px;
  }

  &-dialog {
    width: 440px;

    @include mq('phone') {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &-content {
    border-radius: 0;
  }

  &-header {
    border-bottom: 0;

    img.logo {
      width: 100px;
      margin-left: 15px;
    }

    h4 {
      color: $color-blue;
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &-body {
    padding: 0 30px 20px 30px;
    color: #1d232f;

    h4 {
      color: $color-blue;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
    }

    ul {
      list-style: none;

      li {
        position: relative;

        &:before {
          content: "";
          width: 24px;
          height: 1px;
          background: $color-blue;
          position: absolute;
          left: -40px;
          top: 9px;
        }
      }
    }

    .text {
      max-height: 200px;
      overflow-y: scroll;
    }
  }

  form {

    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-weight: 300;
    }

    input {
      border-radius: 0;
      box-shadow: none;
    }

    button {
      font-size: 16px;

      &:hover {
        color: $color-blue;
      }
    }
  }
}

.success-modal {

  .modal-dialog {
    width: 570px;

    @include mq('phone') {
      width: 100%;
    }
  }

  .close{
    margin-top: -5px;
    margin-right: 10px;
  }

  .modal-body {
    background: url("../img/modal_success.png") no-repeat;
    min-height: 286px;
    padding: 15px 0;

    @include mq('phone') {
      padding: 20px;
      background: none;
      min-height: auto;
    }

    .message {
      width: 250px;
      margin-top: 80px;
      margin-left: 280px;

      @include mq('phone') {
        width: auto;
        margin: 0;
      }

      h3 {
        font-size: 18px;
        color: $color-blue;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;
      }

      p {
        font-size: 12px;
        color: #333333;
      }
    }
  }
}